<div style="height:100%;" class="valign-wrapper">
	<div class="container">
		<div style="width:80%">
			<div class="card">
				<div class="doneHeader">
					<h3 style="font-weight: 300;text-transform: uppercase;">NEW {{category}} ADDED</h3>
				</div>
				<div class="doneContent">
					<h3 class="red-text">{{id}}</h3>
					<h4>Has Been Created</h4>
					<br><br>
					<div class="row" style="margin:20px">
						<div class="col s12 m1 l1">.</div>
						<a href="#/create-{{category}}/false" class="doneButton black-text col s12 m12 l4">Create Another</a>
						<div class="col s12 m1 l2 hide-done-space">.</div>
						<a href="#/inventory" class="doneButton red-text col s12 m12 l4">I'm Done</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>