<div class="blur">
    <nav>
        <div class="nav-wrapper menu">
            <ul style="max-height:64px" id="nav-mobile" class="right">
                <!-- <li><a href=""><i class="fa fa-filter" style="font-size:28px;"></i></a></li> -->
                <li id="notificationButton" onclick = "notificationClicked()"><a href=""><i class="material-icons">notifications</i></a></li>
            </ul>
            <div class="col s12">
                <div style="padding-left:30px;">
                    <a href="#/home" class="breadcrumb">Home</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="mainContent" style="background-color: #F5F5F5;" class="row">
        <div class="col s12 m6 l6">
            <div class="card s12 m12 l12">
                <div class="s12 m12 l12 center white-text">
                    <h5 class="cardHead"><b><i class="material-icons">wifi_tethering</i> Active Flights</b></h5> </div>
                <div class="slider" id="live">
                    <span ng-click="previousSlide('#live')" class="nvgt"><i class="material-icons">navigate_before</i></span>
                    <ul id="flights" class="slides white">
                        <li>
                            <div class="row">
                                <div class="col s3 l3 m3 white-text">.</div>
                                <div class="col s6 l6 m6 center">
                                    <h5 class="home_box_title">ACTIVE JOBS BY TYPE</h5> </div>
                                <div class="col s3 l3 m3"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="activeJobsByType"></div>
                            </div>

                        </li>
                        <li>
                            <div class="col s4 l4 m4 white-text">.</div>
                            <div class="col s4 l4 m4 center">
                                <h5 class="home_box_title">TOTAL FLIGHTS</h5> </div>
                            <div class="col s6 m6 l6">
                                <div id="flightsPlanned">
                                    <div id="plannedCircl" style="background-color:#2B2B2C" class="circle z-depth-2">
                                        <div style="color:white;font-size:48px;margin-top:-40px">{{planned}}</div>
                                        <div style="margin-top:-20px;" class="center"> <span style="font-size:18px;color:white;">Planned</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m6 l6">
                                <div id="inFlight" style="">
                                    <div id="inflightCircl" style="background-color:#7C7C7C" class="circle z-depth-2">
                                        <div style="color:white;font-size:38px;margin-top:-32px">{{inFlight}}</div>
                                        <div style="margin-top:-14px;" class="center"><span style="font-size:14px;color:white;">In-Flights</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s4 l4 m4"></div>
                        </li>
                        <li>
                            <div class="col s3 l3 m3 white-text">.</div>
                            <div class="col s6 l6 m6 center">
                                <h5 class="home_box_title">PARAMETER STATUS</h5> </div>
                            <div class="col s3 l3 m3 white-text">.</div>
                            <div class="row">
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="alert" class="z-depth-2 circle" style="background-color:#EA5E50">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{alerts}}</div>
                                    </div>
                                    <div class="">
                                        <div class="row"> <i style="padding:0px; text-align:right" class="material-icons red-text col m6 l6 s6">error_outline</i>
                                            <div style="padding:0px;padding-top: 3px; text-align:left" class="col m6 l6 s6">Alerts</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="warning" class="z-depth-2 circle" style="background-color:#DDBC2B">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{warnings}}</div>
                                    </div>
                                    <div class="center"><i style="color:#DDBC2B;" class="fa fa-exclamation-triangle" aria-hidden="true"> Warnings</i></div>
                                </div>
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="norml" class="z-depth-2 circle" style="background-color:#60A017">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{normal}}</div>
                                    </div>
                                    <div class="center"><i class="green-text fa fa-check-circle" aria-hidden="true"> Normal</i></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <div class="row">
                                        <div class="col s1 l1 m1 white-text">.</div>
                                        <div class="col s10 l10 m10 center">
                                            <h6 class="home_box_title">UAVs ASSIGNED</h6> </div>
                                        <div class="col s1 m21 l2 1hite-text">.</div>
                                    </div>
                                    <div class="center">
                                        <h1><b>{{current.newClients.amount}}</b></h1> </div>
                                    <div class="center">
                                        <h5>{{current.newClients.percentage}}% <i style="color:#7FD323" class="material-icons">call_made</i></h5> </div>
                                </div>
                                <div class="col s6 m6 l6">
                                    <div class="row">
                                        <div class="col s1 l1 m1 white-text">.</div>
                                        <div class="col s10 l10 m10 center">
                                            <h6 class="home_box_title">PILOTS ASSIGNED</h6> </div>
                                        <div class="col s1 m21 l2 1hite-text">.</div>
                                    </div>
                                    <div class="center">
                                        <h1><b>{{current.newPilots.amount}}</b></h1> </div>
                                    <div class="center">
                                        <h5>{{current.newPilots.percentage}}% <i style="color:#EA5039" class="material-icons">call_received</i></h5> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span ng-click="nextSlide('#live')" style="right:0" class="nvgt"><i class="material-icons">navigate_next</i></span>
                </div>
                <br> </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card s12 m12 l12">
                <div class="s12 m12 l12 center white-text">
                    <h5 class="cardHead"><b><i class="fa fa-film" style="font-size:28px"></i> Past Flights</b></h5> </div>
                <div class="slider" id = "pastFlightSlider">
                    <span ng-click="previousSlide('#pastFlightSlider')" class="nvgt"><i class="material-icons">navigate_before</i></span>
                    <ul class="slides white">
                        <li>
                            <div class="row">
                                <div class="col s2 l2 m2 white-text">.</div>
                                <div class="col s8 l8 m8 center">
                                    <h5 class="home_box_title">JOBS COMPLETED BY TYPE</h5> </div>
                                <div class="col s2 l2 m2"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="jobsCompletedByType"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s3 l3 m3 white-text">.</div>
                                <div class="col s6 l6 m6 center">
                                    <h5 class="home_box_title">ACTIVE JOBS BY TYPE</h5> </div>
                                <div class="col s3 l3 m3"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="flightsCompletedByType"></div>
                            </div>
                        </li>
                        <li>
                            <div class="col s3 l3 m3 white-text">.</div>
                            <div class="col s6 l6 m6 center">
                                <h5 class="home_box_title">PARAMETER STATUS</h5> </div>
                            <div class="col s3 l3 m3 white-text">.</div>
                            <div class="row">
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="alert" class="z-depth-2 circle" style="background-color:#EA5E50">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{alerts}}</div>
                                    </div>
                                    <div class="">
                                        <div class="row"> <i style="padding:0px; text-align:right" class="material-icons red-text col m6 l6 s6">error_outline</i>
                                            <div style="padding:0px;padding-top: 3px; text-align:left" class="col m6 l6 s6">Alerts</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="warning" class="z-depth-2 circle" style="background-color:#DDBC2B">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{warnings}}</div>
                                    </div>
                                    <div class="center"><i style="color:#DDBC2B;" class="fa fa-exclamation-triangle" aria-hidden="true"> Warnings</i></div>
                                </div>
                                <div class="col s12 m4 l4 pstatus">
                                    <div id="norml" class="z-depth-2 circle" style="background-color:#60A017">
                                        <div style="color:white;font-size:38px;margin-top:-25px">{{normal}}</div>
                                    </div>
                                    <div class="center"><i class="green-text fa fa-check-circle" aria-hidden="true"> Normal</i></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <div class="row">
                                        <div class="col s1 l1 m1 white-text">.</div>
                                        <div class="col s10 l10 m10 center">
                                            <h6 class="home_box_title">UAVs ASSIGNED</h6> </div>
                                        <div class="col s1 m21 l2 1hite-text">.</div>
                                    </div>
                                    <div class="center">
                                        <h1><b>{{current.newClients.amount}}</b></h1> </div>
                                    <div class="center">
                                        <h5>{{current.newClients.percentage}}%  <i style="color:#7FD323" class="material-icons">call_made</i></h5> </div>
                                </div>
                                <div class="col s6 m6 l6">
                                    <div class="row">
                                        <div class="col s1 l1 m1 white-text">.</div>
                                        <div class="col s10 l10 m10 center">
                                            <h6 class="home_box_title">PILOTS ASSIGNED</h6> </div>
                                        <div class="col s1 m21 l2 1hite-text">.</div>
                                    </div>
                                    <div class="center">
                                        <h1><b>{{current.newPilots.amount}}</b></h1> </div>
                                    <div class="center">
                                        <h5>{{current.newPilots.percentage}}% <i style="color:#EA5039" class="material-icons">call_received</i></h5> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span ng-click="nextSlide('#pastFlightSlider')" style="right:0" class="nvgt"><i class="material-icons">navigate_next</i></span>
                </div>
                <br> </div>
        </div>
        <div class="col s12 m6 l6">
            <div style="height: 550;" class="card s12 m12 l12">
                <div class="s12 m12 l12 center white-text">
                    <h5 class="cardHead"><b><i class="fa fa-suitcase"></i> Reports</b></h5> </div>
                <div class="slider" id = "reportSlider">
                    <span ng-click="previousSlide('#reportSlider')" class="nvgt"><i class="material-icons">navigate_before</i></span>
                    <ul class="slides white">
                        <li>
                            <div class="row" style="height:15px"></div>
                            <div class="row">
                                <div id="buisness30"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s3 m3 l3 white-text">.</div>
                                <div class="col s6 l6 m6 center">
                                    <h5 class="home_box_title">JOB REVENUE($)</h5> </div>
                                <div class="col s3 m3 l3 white-text">.</div>
                            </div>
                            <div class="row center"> $<span style="font-size:64px">{{current.jobRevenue.amount}}</span> </div>
                            <div class="row center">
                                <h5>{{current.jobRevenue.percentage}}% <i style="color:#7FD323" class="material-icons">call_made</i></h5> </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s4 l4 m4 white-text">.</div>
                                <div class="col s4 l4 m4 center">
                                    <h5 class="home_box_title">JOB STATUS</h5> </div>
                                <div class="col s4 l4 m4"></div>
                            </div>
                            <div class="row">
                                <div id="container"></div>
                            </div>
                        </li>
                    </ul>
                    <span ng-click="nextSlide('#reportSlider')" style="right:0" class="nvgt"><i class="material-icons">navigate_next</i></span>
                </div>
                <br> </div>
        </div>
        <div class="col s12 m6 l6">
            <div style="height:550px" class="card s12 m12 l12">
                <div class="s12 m12 l12 center white-text">
                    <h5 class="cardHead"><b><i class="material-icons">wifi_tethering</i> Resources</b></h5> </div>
                <div class="slider" id = "resourceSlider">
                    <span ng-click="previousSlide('#resourceSlider')" class="nvgt"><i class="material-icons">navigate_before</i></span>
                    <ul class="slides white">
                        <li>
                            <div class="row">
                                <div class="col s4 l4 m4 white-text">.</div>
                                <div class="col s4 l4 m4 center">
                                    <h5 class="home_box_title">TOTAL UAVs</h5> </div>
                                <div class="col s4 l4 m4"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="totalUAVs"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s4 l4 m4 white-text">.</div>
                                <div class="col s4 l4 m4 center">
                                    <h5 class="home_box_title">TOTAL PILOTS</h5> </div>
                                <div class="col s4 l4 m4"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="totalPilots"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s3 l3 m3 white-text">.</div>
                                <div class="col s6 l6 m6 center">
                                    <h5 class="home_box_title">TOTAL PAYLOADS</h5> </div>
                                <div class="col s3 l3 m3"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="totalPayloads"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s3 l3 m3 white-text">.</div>
                                <div class="col s6 l6 m6 center">
                                    <h5 class="home_box_title">TOTAL PURPLE BOXES</h5> </div>
                                <div class="col s3 l3 m3"></div>
                            </div>
                            <div class="row">
                                <div style="padding: 0 30 0 30" id="totalPurpleBoxes"></div>
                            </div>
                        </li>
                    </ul>
                    <span ng-click="nextSlide('#resourceSlider')" style="right:0" class="nvgt"><i class="material-icons">navigate_next</i></span>
                </div>
                <br> </div>
        </div>
    </div>
</div>
